<tr>
  <% Order.attribute_names.each do |name| %>
    <td>
      <%= render_order_attribute order, name %>
    </td>
  <% end %>
  <td>
    <%= link_to t(".update"), "#", method: :put, class: "btn btn-primary btn-update disabled" %>
    <%= link_to t(".view_details"), "#", class: "btn btn-success" %>
  </td>
</tr>
