<ul class="list-languages">
  <% I18n.available_locales.each do |lang| %>
    <li><a class="dropdown-item" href="<%= change_path_locale request.path, lang %>"><%= Settings.languages[lang] %></a></li>
  <% end %>
</ul>
