<table class="table line-height-1-5 table-tlshop">
  <tbody>
    <% shown_attributes(Order).each do |name| %>
      <tr>
        <td><%= Order.human_attribute_name name %></td>
        <td>
          <%= render_show_order order, name %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
