.breadcrumb-section {
  margin-bottom: 40px;
}
.breadcrumb {
  background-color: transparent;
  justify-content: center;
  font-size: 1.25rem;
  color: #e0e0e0;
  margin-bottom: 0;
  font-weight: bold;
  text-decoration: italic;
  li {
    flex-basis: 75px;
    a {
      color: white;
      text-decoration: underline;
    }
  }
}
