@import "colors";

.currency-unit {
  text-decoration: underline;
  margin-left: 0.25rem;
}
.clickable {
  cursor: pointer;
}
.fa,
.far,
.fas {
  font-family: "FontAwesome";
  padding: 3px;
}
.latest-product__item__text {
  span {
    display: initial;
  }
}

.shoping__cart__table table tbody tr td.shoping__cart__item {
  width: initial;
}

.shoping__checkout {
  h5 {
    font-size: 1.5rem;
  }
  ul {
    padding-left: 16px;
    padding-right: 25px;
    li {
      font-size: 2rem;
      span {
        font-size: 2rem;
      }
    }
  }
}
.font-size-2 {
  font-size: 2rem !important;
}

// categories section
.categories__item {
  h5 {
    a {
      text-transform: none;
      background: none;
      color: $color-gray;
    }
  }
}

// hero section
.hero__categories {
  height: 100%;
  ul {
    max-height: 461px;
    overflow-y: auto;
    ul {
      border: 0;
      border-left: 3px solid;
    }
  }
}

.flag__wrapper {
  width: 27px;
  height: 14px;
  img {
    width: 100%;
    object-fit: cover;
  }
}

a,
a:visited {
  color: inherit;
}

.header__top__right__auth a {
  display: inline;
}

/**
 * Product pages
 */

.price-range-wrap {
  .range-slider .price-input input {
    color: $color-black;
    font-weight: normal;
  }
  .price-range .ui-slider-range {
    background: $color-green;
  }
}
.product__discount__item__text .product__item__price span {
  text-decoration: none;
  font-weight: inherit;
}
.product__item__text {
  span {
    text-decoration: underline;
    margin-left: 0.5em;
  }
}
.product__item {
  cursor: pointer;
}
.price-range-wrap .range-slider .price-input {
  input {
    max-width: 48%;
  }
  &:after {
    left: 40%;
  }
}
.category-hierachy ul {
  border-left: 3px solid;
  padding-left: 18px;
}

/**
  * paginate
  */
.page-item.active .page-link {
  background-color: $color-green;
  border-color: $color-gray;
}
