.header__menu {
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    li {
      margin-right: 0;
    }
  }
}
.flag__wrapper {
  width: 27px;
  height: 14px;
  img {
    width: 100%;
    object-fit: cover;
  }
}
