<div>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>">
      <div class="container text-center">
        <%= message.html_safe %>
      </div>
    </div>
  <% end %>
</div>
