<div class="product__discount__item">
  <div class="product__discount__item__pic set-bg"
       data-setbg="/img/product/discount/pd-1.jpg">
    <div class="product__discount__percent">
      <%= product.rating %>
      <span class="fas fa-star"></span>
    </div>
    <ul class="product__item__pic__hover">
      <li>
        <a href="#"><i class="fa fa-heart"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-retweet"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-shopping-cart"></i></a>
      </li>
    </ul>
  </div>
  <div class="product__discount__item__text">
    <span><%= product.category.title %></span>
    <h5>
      <%= link_to product.name, product_path(product) %>
    </h5>
    <div class="product__item__price">
      <%= translate_price product.price%>
    </div>
  </div>
</div>
