<%
  default_classes = "col-lg-3 col-md-4 col-sm-6 "
  classes = classes || []
%>
<div class="<%= default_classes + snake_join(classes)%>">
  <div class="featured__item">
    <div class="featured__item__pic set-bg" data-setbg="img/featured/feature-1.jpg">
      <ul class="featured__item__pic__hover">
        <li>
          <%= link_to carts_path(id: product.id), method: "post", remote: true do %>
            <i class="fa fa-shopping-cart"></i>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="featured__item__text">
      <h6><%= link_to product.name, product_path(product) %></h6>
      <h5><%= translate_price product.price %></h5>
    </div>
  </div>
</div>
